<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minton.dataapi.dao.TaMapper">

    <sql id="Tafields">
        a,b,c,d,e,f,aa,bb,cc,dd,ee
    </sql>

    <sql id="TaValues">
        #{a},#{b},#{c},#{d},#{e},#{f},#{aa},#{bb},#{cc},#{dd},#{ee}
    </sql>


    <select id="selectTaByA" resultType="Ta">
        select <include refid="Tafields"></include>
        from ta
        where a = #{a};
    </select>

    <insert id="insertTa" parameterType="Ta">
        INSERT INTO TA (<include refid="Tafields"></include>)
        VALUES(<include refid="TaValues"></include>)
    </insert>

    <delete id="deleteTaByA">
        DELETE FROM TA WHERE a = #{a};
    </delete>

    <update id="updateTa" >
        UPDATE TA
        SET b = #{ta.b}, c = #{ta.c}, d = #{ta.d}, e = #{ta.e}, f = #{ta.f}, aa = #{ta.aa}, bb = #{ta.bb}, cc = #{ta.cc}, dd = #{ta.dd}, ee = #{ta.ee}
        WHERE a = #{a};
    </update>

    <select id="fuzzySearchByA" resultType="Ta">
        SELECT <include refid="Tafields"></include>
        FROM TA
        WHERE A LIKE concat('%',#{a},'%');
    </select>




</mapper>