<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minton.dataapi.dao.TaMapper">

    <sql id="Tafields">
        a,b,c,d,e,f,aa,bb,cc,dd,ee
    </sql>
    <sql id="Tbfields">
        A,B,C,D,E,F,aa,c_aa,bb,c_bb,cc,c_cc,dd,c_dd,ee,c_ee
    </sql>

    <select id="selectTaByA" resultType="Ta">
        select <include refid="Tafields"></include>
        from ta
        where a = #{a};
    </select>

    <insert id="insertTa" parameterType="Ta">
        INSERT INTO TA (<include refid="Tafields"></include>)
        VALUES(#{a},#{b},#{c},#{d},#{e},#{f},#{aa},#{bb},#{cc},#{dd},#{ee})
    </insert>





</mapper>