<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minton.dataapi.dao.TbMapper">

    <sql id="TaFields">
        a,b,c,d,e,f,aa,bb,cc,dd,ee
    </sql>

    <sql id="TbFields">
        A,B,C,D,E,F,aa,c_aa,bb,c_bb,cc,c_cc,dd,c_dd,ee,c_ee
    </sql>

    <sql id="TbOwnFields">
        c_aa,c_bb,c_cc,c_dd,c_ee
    </sql>

    <sql id="TaValues">
        #{a},#{b},#{c},#{d},#{e},#{f},#{aa},#{bb},#{cc},#{dd},#{ee}
    </sql>


    <!--    void insertTb(Ta ta);-->
    <insert id="insertTb">
        INSERT INTO TB(<include refid="TaFields"/>)
        VALUES(<include refid="TaValues"></include>);
    </insert>

<!--    void deleteTbByAC(String a, String c);-->
    <delete id="deleteTbByAC">
        DELETE FROM TB
        WHERE a = #{a} and c = #{c};
    </delete>

<!--    void deleteTbByC(String c);-->
    <delete id="deleteTbByC">
        DELETE FROM TB
        WHERE c = #{c};
    </delete>

<!--    void updateTb(String a, Ta ta);-->
    <update id="updateTb">
        UPDATE TB
        SET b = #{ta.b}, c = #{ta.c}, d = #{ta.d}, e = #{ta.e}, f = #{ta.f}, aa = #{ta.aa}, bb = #{ta.bb}, cc = #{ta.cc}, dd = #{ta.dd}, ee = #{ta.ee}
        WHERE a = #{a}
    </update>

<!--    void calculateTb(String a);-->
    <update id="calculateTb">
        UPDATE TB LEFT JOIN TA ON TA.A = TB.A
        SET TB.C_AA = (TB.AA &amp; TA.AA),
        TB.C_BB = (TB.BB &amp; TA.BB),
        TB.C_CC = (TB.CC &amp; TA.CC),
        TB.C_DD = (TB.DD &amp; TA.DD),
        TB.C_EE = (TB.EE &amp; TA.EE);
    </update>

    <select id="selectTbs" resultType="Tb">
        select * from tb;
    </select>

    <select id="selectTbByAC" resultType="Tb">
        select * from tb where a = #{a} and c = #{c};
    </select>


</mapper>